*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
main{
  margin: auto;
  max-width: 600px;
  background: orange;
  height: 100vh;

}

header{
  background: red;
  height: 10vh;
}

section{
  background: yellow;
  height: 80vh;
display: flex;
flex-direction: column;
object-fit: contain;


}


ul li a{
  background: #ffc;
  display: block;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
}


footer{
  height: 10vh;

}
ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
li{
  list-style: none;
}
li a{
  font-size: 40px;
  color: #222;
}